<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <form class="" action="/result" method="post">
    Your Name:<input type = 'text' placeholder = 'name' name = 'name'>
    Dojo Location:<select class="" name="location">
      <option value="San Jose">San Jose</option>
      <option value="Kronos">Kronos</option>
      <option value="Neptune">Neptune</option>
      <option value="Westeros">Westeros</option>
      <option value="Dallas">Dallas</option>
    </select>

    Favorite Language:<select name="language" id="">
      <option value="Python">Python</option>
      <option value="Klingon">Klingon</option>
      <option value="Common Tongue">Common Tongue</option>
      <option value="Jibberish">Jibberish</option>
      <option value="PHP">PHP</option>
    </select>
    <label>Comment:</label>
    <textarea name = 'description' placeholder="Optional"></textarea>
    <input type = 'submit' value = 'submit'>
  </form>

</body>
</html>